
<html>
<head>
	<title>Places</title>
	<%= stylesheet_link_tag "mystyle.css" %>
	
	<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed|Belgrano' rel='stylesheet' type='text/css'>
</head>
<body>
<p> <%= flash[:warning] || flash[:notice] %> </p>
<% if current_user == nil%>
<%= link_to "Sign Up", new_user_path %>
<% else %>
<%= link_to "Go To User", current_user %>
<% end %>
<div id='mycontainer'>
	<h1>P L A C E S</h1>
<div id='mycenter' class='shadow1'>

<div id='left' class='shadow2'>
	<div class=''>
		<div>
			<%= form_tag sessions_path do %>
			<div class="field">
			<%= text_field_tag :email, params[:email] ,:placeholder=>'Email', :id=>'email'%>
			</div>
			
		<div class="field">
		<%= password_field_tag :password, :placeholder=>'Password'%>
		</div>
		<br>
		
		 <div class="actions">
		<%= submit_tag "Log In" , :class=>'btn', :id=>'log_in'%>
		</div>
		<% end %>
		<button type="button" class='btn' id='sign_up' onclick="window.location.href='/users/new'; ">Sing up!</button>
		</div>
		<hr>
		<div class=''>
			<h3>Start Using 'Places' today!</h3>
			<p>
				'Places' its a fun app for you to advertise your Events to millions, more than 3 million users registered to date and best of all its free!
			</p>
		</div>
		

	</div>
</div>

<div id='right' class=''>
	<%= image_tag("tegucigalpa.png", :alt => "tegucigalpa", :id=>'tgu') %>
</div>

</div>
</div>

</body>
</html>
