<h1>Places!</h1>
<h2>A place to find all your awesome places </h2>
<p> <%= flash[:warning] || flash[:notice] %> </p>


<% if current_user == nil%>
<h3>Log in to proceed</h3>






<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions"><%= submit_tag "Log In" %>
<% end %>

<%= link_to "Sign Up", new_user_path %>
<% else %>
<%= link_to "Go To User", current_user %>
<% end %>

</div>