
<html>
<head>
  <%= stylesheet_link_tag "mystyle.css" %>
  <title>Places</title>
</head>
<body>
    <div id='mycontainer3' >  

    <div id='mycenter' , class='createformcenter'>

      <div id='createform', class='mycontainer2'>

        <%= link_to "back", root_path %>
<%= form_for @user do |f| %>
  
  <% if @user.errors.any? %>
      <h3>Something went wrong!</h3>
      <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
  <% end %>


  <p>
   
    <%= f.text_field :username, :placeholder=>'Username' %>
    <br>
    
    <%= f.text_field :email, :placeholder=>'Email' %>   
    <div class="field">
     
      <%= f.password_field :password, :placeholder=>'password' ,:id=>'userpass' %>
    </div>
    <div class="field">
     
     <%= f.password_field :password_confirmation, :placeholder=>'password confirmation',:id=>'userpass' %>
    </div>
 
  </p>
  <p>
    <%= f.submit :class=>'btn' %>
  </p>
<% end %>
      </div>
    </div>
  </div>

</body>
</html>




