<html>
<head>
  <%= stylesheet_link_tag "mystyle.css" %>
  <title>Places</title>
</head>
<body>
<%= flash[:warning] || flash[:notice] %>
    <div id='containerheight'>
       <h1><%= @user.username %> </h1>
        <div id='mycenter2' class='shadow1'>
           

<div class='mycontainer2'  id='showplace'>

<ol>
  <p>
  Email: <%= @user.email %>
  </p>
  
  <% if current_user.id == @user.id %>
  <%= link_to "Delete Account", @user, :method => :delete, :confirm => "Are you sure?" %>
  
  <%= link_to "Sign Out", log_out_path(@user) %>
  <% end %>
  
 
</ol>


<% if @user.places.present? %>
  
  <ol>
  <h2> Places <%= @user.username %> has added! </h2>
  <% @user.places.each do |place|%>
    
   <li>
      <h3><%= link_to place.name, user_place_path(place, :user_id => place.user_id) %></h3> 
    
      <p>-<%= place.description %><p> 
   </li>
  <% end %>
</ol>
<% end %>
<% if current_user.id == @user.id %>
<%= link_to "Add a place", new_user_place_path(:user_id => @user.id)  %>

<%= link_to "Update", edit_user_path(@user) %>
<% end %>

<%= link_to "Places", places_path %>


</div>

        </div>

    </div>

</body>
</html>


