


<html>
<head>
  <%= stylesheet_link_tag "mystyle.css" %>
  <title>Places</title>
</head>
<body>
  <div id='mycontainer' >
    <div id='mycenter' , class='createformcenter'>
      <div id='createform', class='mycontainer2'>
          <p>
    -User: <%=User.find_by_id(params[:user_id]).username %>
</p>

<%= form_for @place do |f| %>
  
  <% if @place.errors.any? %>
      <h3>Something went wrong!</h3>
      <ul>
          <% @place.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
  <% end %>


  <p>
    <%= f.text_field :name, :placeholder=>'Name' %>
   <br>
    
    <%= f.text_area :description, :placeholder=>'Description', :id=>'eventdescription'%>
    <br>
    <%= f.text_field :adress, :placeholder=>'Address' %>
   <br>
    <%= f.text_field :phone, :placeholder=>'Phone'%>   
    <%= f.hidden_field :user_id, :value => params[:user_id] , :placeholder=>'Description'%> 
  </p>
  

  <p>
    <%= f.submit  :class=>'btn'%>
  </p>
<% end %>
      </div>
        
    </div>
  </div>

</body>
</html>




