<html>
<head>
  <title>Places</title>
  <%= stylesheet_link_tag "mystyle.css" %>
</head>
<body>
  <div id='containerheight'>
    <h1><%= @place.name %> </h1>
    <div id='mycenter2' class='shadow1'>

      <div class='mycontainer2'  id='showplace'>
<div id='eventdescription'>
            <h3><%= @place.description %></h3>
<h3> current user <%= current_user.username %> </h3>
<ol>
  <p>
  -Adress: <%= @place.adress %>
  </p>
  <p>
  -Phone: <%= @place.phone %>
  </p>
  <p>
  -User who added this place: <%= link_to User.find_by_id(@place.user_id).username, User.find_by_id(@place.user_id) %>
  </p>
  <% if current_user.id == @place.user_id %>
  <%= link_to "Delete", @place, :method => :delete, :confirm => "Are you sure?" %>
  <% end %>
</ol>
</div>

<% if @place.events.present? %>
   <div id='eventlist'>
  <ul>
  <h2> Events! </h2>
  <% @place.events.each do |event|%>
   
       <li>
     
          <h3><%= link_to event.name,  user_place_event_path(event, :user_id => Place.find_by_id(event.place_id).user_id) %></h3> 
    
          <p>-<%= event.description %><p> 
      
    
   </li>
  <% end %>
  </div> 
</ul>

<% end %>

</div>



  </div>
  <% if current_user.id == @place.user_id %>

<div id='eventlinks'> 
      <%= link_to "Add an event  |", new_user_place_event_path(:place_id => @place.id), :class=>"lightcolor" %>

<%= link_to "Update  |", edit_user_place_path(@place, :user_id => @place.user_id), :class=>"lightcolor" %>
<% end %>
<%= link_to "Places", places_path, :class=>"lightcolor" %>

</div>
    </div>
     

      </div>
         


</body>
</html>




